<md-paging [model]="paging" (onPageChange)="detectChange($event)" [selectorLengthAvailable]="availableLength"></md-paging>

<md-data-table layout-fill>
  <thead>
  <tr>
    <th class="md-text-cell">Material</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="#material of pagedMaterials">
    <td class="md-text-cell">{{ material.name }}</td>
    <td>{{ material.quantity }}</td>
  </tr>
  </tbody>
</md-data-table>

<md-paging [model]="paging" (onPageChange)="detectChange($event)" [selectorLengthAvailable]="availableLength"></md-paging>
